<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open source cloud storage">
    <meta name="author" content="SetupBox">

    <title>SetupBox</title>

    <!-- stylesheets -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('bower.static', filename='jQuery-contextMenu/dist/jquery.contextMenu.min.css') }}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='jQuery-contextMenu/dist/jquery.contextMenu.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='jQuery-contextMenu/dist/jquery.ui.position.min.js') }}"></script>
</head>
<body>
<script>
    $(function() {
        $.contextMenu({
            selector: '.files',
            callback: function(key) {
                if (key == "rename") {
                    var name = prompt("Please input new file name");

                    $.post('/'+key, {
                        old_name: $(this.context).text(),
                        new_name: name,
                        directory_root:$("#folder_path").val(),
                        path: $(this.context).attr('id')
                    });
                }
                else {
                    $.post('/'+key, {
                        path: $(this.context).attr('id'),
                        directory_root:$("#folder_path").val()
                    });
                }

                location.reload();
            },
            items: {
                "rename": {name: "이름 바꾸기", icon: "edit"},
                "delete": {name: "삭제하기", icon: "delete"}
            }
        });
    });

    $(function() {
        $.contextMenu({
            selector: '.folders',
            callback: function(key) {
                if (key == "rename") {
                    var name = prompt("Please input new file name");

                    $.post('/'+key, {
                        old_name: $(this.context).text(),
                        new_name: name,
                        directory_root:$("#folder_path").val(),
                        path: $(this.context).attr('id')
                    });
                }
                else {
                    $.post('/'+key,{ path:$(this.context).attr('id'),
                        directory_root:$("#folder_path").val() });
                }

                location.reload();

            },
            items: {
                "rename": {name: "이름 바꾸기", icon: "edit"},
                "delete": {name: "삭제하기", icon: "delete"}
            }
        });
    });
</script>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">SetupBox</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if(current_user.is_authenticated == False) %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('security.login') }}">로그인</a></li>
                        <li><a href="{{ url_for('security.forgot_password') }}">비밀번호 찾기</a></li>
                        <li><a href="{{ url_for('security.register') }}">회원가입</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('explorer') }}">탐색기</a></li>
                        <li><a href="{{ url_for('security.logout') }}">로그아웃</a></li>
                    </ul>
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
