{% extends "base.html" %}


{% block content %}
    {% if folder.chunks %}
        <ul class="breadcrumb">
            <a href="{{ url_for('explorer') }}">SetupBox</a>
            {% for chunk in folder.chunks() %}
                <li>
                    <a href="/files/{{ chunk.path }}">{{ chunk.chunk }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h4>{{ file }}</h4>
    <script>hljs.initHighlightingOnLoad();</script>

    <pre><code class="{{ file.extension }}">{{ text }}</code></pre>


{% endblock %}
